# Resources required by the sample browser and most samples.
[Essential]
#Zip=../../Dependencies/Ogre/Samples/Media/packs/SdkTrays.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/profiler.zip
FileSystem=../../Dependencies/Ogre/Samples/Media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
# Bites uses the next entry to discover the platform shaders
FileSystem=../../Dependencies/Ogre/Samples/Media
FileSystem=../../Dependencies/Ogre/Samples/Media/fonts
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/programs/Cg
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/programs/GLSL
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/programs/GLSL120
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/programs/GLSL150
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/programs/GLSL400
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/programs/GLSLES
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/programs/HLSL

FileSystem=../../Dependencies/Ogre/Samples/Media/materials/scripts
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/textures
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/textures/nvidia
FileSystem=../../Dependencies/Ogre/Samples/Media/models
FileSystem=../../Dependencies/Ogre/Samples/Media/particle
FileSystem=../../Dependencies/Ogre/Samples/Media/DeferredShadingMedia
FileSystem=../../Dependencies/Ogre/Samples/Media/DeferredShadingMedia/DeferredShading/post
FileSystem=../../Dependencies/Ogre/Samples/Media/PCZAppMedia
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/scripts/SSAO
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/textures/SSAO
FileSystem=../../Dependencies/Ogre/Samples/Media/volumeTerrain
#Zip=../../Dependencies/Ogre/Samples/Media/packs/cubemap.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/cubemapsJS.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/dragon.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/fresneldemo.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/ogretestmap.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/ogredance.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/Sinbad.zip
#Zip=../../Dependencies/Ogre/Samples/Media/packs/skybox.zip
#Zip=../../Dependencies/Ogre/Samples/Media/volumeTerrain/volumeTerrainBig.zip

FileSystem=../../Dependencies/Ogre/Samples/Media/PBR
FileSystem=../../Dependencies/Ogre/Samples/Media/materials/textures/glTF2_IBL
#Zip=../../Dependencies/Ogre/Samples/Media/packs/DamagedHelmet.zip

FileSystem=../../Dependencies/Ogre/Samples/Media/HLMS

FileSystem=../../Dependencies/Ogre/Samples/Media/RTShaderLib/GLSL

# Materials for visual tests
[Tests]
FileSystem=../../Dependencies/Ogre/Samples/Tests/Media
